.gradient1 {
  background: linear-gradient(
    to right,
    rgb(254, 72, 118) 10%,
    rgb(170, 86, 189) 100%
  );
}
@font-face {
  font-family: "Karla"; /* Choose a descriptive name for your font */
  src: url("./assets/fonts/Karla.ttf") format("truetype");
  font-weight: normal; /* Adjust as needed for different weights */
  font-style: normal; /* Adjust as needed for different styles */
}
body {
  font-family: "Karla", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    to right,
    rgb(254, 72, 118) 10%,
    rgb(170, 86, 189) 100%
  );
}
.formStyle {
  background: radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px;
}

.particles canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure particles are behind other content */
}
.custom-form-bg1 {
  background-color: rgba(20, 20, 30, 0.85);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.custom-form-bg2 {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
/* .custom-form-bg2 input:focus { */
/* background-color: rgba(255, 255, 255, 0.1); */
/* border: 1px solid rgba(255, 255, 255, 0.2); */
/* border: 1px solid rgb(142, 22, 22); */
/* box-shadow: none; */
/* } */

.form-input {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 10px;
  color: white;
  width: 100%;
}
.form-input:focus {
  background-color: rgba(255, 255, 255, 0.3);
  outline: none;
}
